{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>
      {{ template "configs-item" .Configs }}
    </section>
    {{ $groupsPerPage := 20 }}
    <section class="content-section">
      <h2>Groups</h2>
      <table class="striped">
        <thead>
          <tr>
            <th class="sortable">
              <a class="groups-header" href="#" role="button"
                 title="Sorted ascending, click for descending">UUID <span class="sort-active">▲</span></a>
              <a class="groups-header hidden" href="#" role="button"
                 title="Sorted descending, click for ascending">UUID <span class="sort-active">▼</span></a>
            </th>
          </tr>
        </thead>
        <tbody id="groups-table">
          {{ range $i, $val := .Groups }}
          <tr>
            <td><a href="/configs/group/{{ $val }}">{{ $val }}</a></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      <script type="module">
        const $ = document.querySelector.bind(document),
              $$ = document.querySelectorAll.bind(document);

        /* Groups Sorting */
        function groupsFlipSort() {
          // Flip sort header.
          $$('.groups-header').forEach(el => el.classList.toggle('hidden'));
          // Move each row to the bottom, starting from the original top
          const tbl = $('#groups-table');
          Array.from(tbl.rows).reverse().forEach(row => tbl.appendChild(row));
        }

        $$('.groups-header').forEach(el => {
          el.addEventListener('click', (ev) => {
            ev.preventDefault();
            groupsFlipSort();
          });
        });
      </script>
    </section>
{{ template "footer"}}
