{{ define "configs-item-files" }}
      <h4>Files:</h4>
      <table class="striped">
         <tbody>
           {{ range $name, $val := . }}
           <tr>
             <td style="min-width: 20em;">{{ $name }}</td>
             <td style="min-width: 5em; text-align: right;">
               {{ if gt (len $val.OnChanged) 0 }}
               <i class="icontip ocr-fork" aria-label="On-change triggers:{{ range $val.OnChanged }}&#xa;{{.}}{{ end }}"></i>
               {{ end }}
               {{ if $val.Unencrypted }}
               <i class="icontip floppy" aria-label="View file content"
		  onclick="event.preventDefault();this.nextElementSibling.showModal()"></i>
               <dialog class="file-content">
                 <article>
                   <header>
                     <h3>File "{{ $name }}"</h3>
                     <button aria-label="Close" rel="prev" onclick="this.closest('dialog').close()">x</button>
                   </header>
                   <section>
                     {{ if gt (len $val.OnChanged) 0 }}
                     <label><b>On Change Triggers:</b></label>
                     <ul>
                       {{ range $val.OnChanged }}
                       <li>{{.}}</li>
                       {{ end }}
                     </ul>
                     {{ end }}
                     <label><b>Content:</b></label>
                     <p>{{ $val.Value }}</p>
                   </section>
                   <footer>
                     <button autofocus onclick="this.closest('dialog').close()">Close</button>
                   </footer>
                 </article>
               </dialog>
               {{ else }}
               <i class="icontip lock-closed" aria-label="File content is encrypted"></i>
               {{ end }}
             </td>
           </tr>
           {{ end }}
         </tbody>
      </table>
{{ end }}

{{ define "configs-item" }}
      <p><b>Reason:</b> {{.Reason}}</p>
      <p><b>Created At:</b> {{tsToString .CreatedAt}}</p>
      <p><b>Created By:</b> {{.CreatedBy}}</p>
      {{ template "configs-item-files" .Files }}
{{ end}}

{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>
      {{ template "configs-item" .Configs }}
      <button onclick="location.href=location.pathname+'/history'">History</button>
    </section>
{{ template "footer"}}
