{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>
      <p><a href="/devices/{{.DeviceUuid}}/tests">&larr; Back to tests</a></p>

      <div class="grid device-details">
        <div>
          <dl>
            <dt>Test ID</dt>
            <dd>{{.Test.Uuid}}</dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>Name</dt>
            <dd>{{.Test.Name}}</dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>Status</dt>
            <dd>{{.Test.Status}}</dd>
          </dl>
        </div>
      </div>

      <div class="grid device-details">
        <div>
          <dl>
            <dt>Created</dt>
            <dd>{{tsToString .Test.CreatedOn}}</dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>Completed</dt>
            <dd>{{ if .Test.CompletedOn }}{{tsToString .Test.CompletedOn}}{{ else }}-{{ end }}</dd>
          </dl>
        </div>
        <div>
        </div>
      </div>

      {{ if .Test.Details }}
      <div>
        <h3>Details</h3>
        <pre>{{.Test.Details}}</pre>
      </div>
      {{ end }}
    </section>

    {{ if .Test.Results }}
    <section class="content-section">
      <h3>Results</h3>
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Test.Results }}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.Status}}</td>
            <td>{{ if .Details }}<pre>{{.Details}}</pre>{{ else }}-{{ end }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </section>
    {{ end }}

    <section class="content-section">
      <h3>Artifacts</h3>
      <ul>
        {{ range .Test.Artifacts }}
        <li><a href="/v1/devices/{{$.DeviceUuid}}/tests/{{$.Test.Uuid}}/{{.}}">{{.}}</a></li>
        {{ end }}
      </ul>
    </section>

{{ template "footer" .}}
